img {
  display: inline-block;
  height: 20px;
  width: auto;
  image-rendering: pixelated;
  & + img {
    margin-left: 4px;
  }
}
.gains {
  font-size: 15px;
  font-weight: 400;
}
.item-sliding-active-options-end {
  background-color: var(--ion-color-danger);
}
