<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="AppRoute.Hiscores"></ion-back-button>
    </ion-buttons>
    <ion-title>Compare</ion-title>
    <ion-buttons slot="end" padding-end>
      <ion-row align-items-center>
        <span class="exp-toggle">{{ expToggle ? 'Experience' : 'Rank' }}</span>
        <ion-toggle color="secondary" [(ngModel)]="expToggle"></ion-toggle>
      </ion-row>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher pullMin="70" pullMax="300" (ionRefresh)="refreshHiscores()">
    <ion-refresher-content
      pullingText="Pull to refresh"
      refreshingText="Refreshing..."
      refreshingSpinner="crescent"
    ></ion-refresher-content>
  </ion-refresher>

  <ion-list no-margin>
    <ion-item>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col text-capitalize text-center>
          <h4 no-margin>{{ playerHiscore.player.username }}</h4>
        </ion-col>
        <ion-col size="1"></ion-col>
        <ion-col text-capitalize text-center>
          <h4 no-margin>{{ compareHiscore.player.username }}</h4>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-list>

  <ion-card>
    <ion-card-content no-padding>
      <ion-list>
        <ion-list-header no-margin color="secondary">
          <ion-row align-items-center>
            <ion-col size="1"></ion-col>
            <ion-col no-padding>
              <ion-row>
                <ion-col size="8" text-right>{{ expToggle ? 'Experience' : 'Rank' }}</ion-col>
                <ion-col size="4" text-right>Level</ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col no-padding>
              <ion-row>
                <ion-col size="4" text-left>Level</ion-col>
                <ion-col size="8" text-right>{{ expToggle ? 'Experience' : 'Rank' }}</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-list-header>
        <ion-item
          color="primary"
          lines="full"
          *ngFor="let skill of playerHiscore.skills; trackBy: trackBySkillName; let index = index"
        >
          <ion-row align-items-center>
            <ion-col size="1" class="pl-xs" no-padding>
              <skill-icon [skill]="skill.name" height="22px"></skill-icon>
            </ion-col>
            <ion-col no-padding>
              <ion-row>
                <ion-col size="8" text-right class="pl-none">
                  <div>{{ skill[expToggle ? 'exp' : 'rank'] | numberFormat | notFound }}</div>
                </ion-col>
                <ion-col size="4" text-right>
                  <div>{{ skill.level | numberFormat | notFound }}</div>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="1">
              <img class="icon compare" [src]="compareIcon(skill.level, compareHiscore.skills[index].level)" />
            </ion-col>
            <ion-col no-padding>
              <ion-row>
                <ion-col size="4" text-left>
                  <div>{{ compareHiscore.skills[index].level | numberFormat | notFound }}</div>
                </ion-col>
                <ion-col size="8" text-right class="pl-none">
                  <div>{{ compareHiscore.skills[index][expToggle ? 'exp' : 'rank'] | numberFormat | notFound }}</div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content no-padding>
      <ion-list>
        <ion-list-header no-margin color="secondary">
          <ion-row align-items-center>
            <ion-col size="1"></ion-col>
            <ion-col size="2">Clue</ion-col>
            <ion-col no-padding>
              <ion-row>
                <ion-col size="8" text-right>Rank</ion-col>
                <ion-col size="4" text-right>#</ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col no-padding>
              <ion-row>
                <ion-col size="4" text-left>#</ion-col>
                <ion-col size="8" text-right>Rank</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-list-header>
      </ion-list>
      <ion-item
        color="primary"
        lines="full"
        *ngFor="let clue of playerHiscore.cluescrolls; trackBy: trackByMinigameName; let index = index"
      >
        <ion-row align-items-center>
          <ion-col size="1" class="pl-xs" no-padding>
            <img class="icon" src="./assets/imgs/hiscore/cluescroll.gif" />
          </ion-col>
          <ion-col size="3" class="pr-none" text-left>
            {{ clue.name }}
          </ion-col>
          <ion-col no-padding>
            <ion-row>
              <ion-col size="8" class="pl-none" text-right>
                <div>{{ clue.rank | numberFormat | notFound }}</div>
              </ion-col>
              <ion-col size="4" class="pl-none pr-none" text-right>
                <div>{{ clue.amount | notFound }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="1">
            <img class="icon compare" [src]="compareIcon(clue.amount, compareHiscore.cluescrolls[index].amount)" />
          </ion-col>
          <ion-col no-padding>
            <ion-row>
              <ion-col size="4" class="pr-none pl-none" text-left>
                <div>{{ compareHiscore.cluescrolls[index].amount | notFound }}</div>
              </ion-col>
              <ion-col size="8" class="pl-none" text-right>
                <div>{{ compareHiscore.cluescrolls[index].rank | numberFormat | notFound }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content no-padding>
      <ion-list>
        <ion-list-header no-margin color="secondary">
          <ion-row align-items-center>
            <ion-col size="1"></ion-col>
            <ion-col size="2">Misc</ion-col>
            <ion-col no-padding>
              <ion-row>
                <ion-col size="8" text-right>Rank</ion-col>
                <ion-col size="4" text-right>#</ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="1"></ion-col>
            <ion-col no-padding>
              <ion-row>
                <ion-col size="4" text-left>#</ion-col>
                <ion-col size="8" text-right>Rank</ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-list-header>
      </ion-list>
      <ion-item
        color="primary"
        lines="full"
        *ngFor="let bh of playerHiscore.bountyhunter; trackBy: trackByMinigameName; let index = index"
      >
        <ion-row align-items-center>
          <ion-col size="1" class="pl-xs" no-padding>
            <img
              class="icon"
              [src]="'./assets/imgs/hiscore/bountyhunter-' + (index === 0 ? 'hunter' : 'rogue') + '.gif'"
            />
          </ion-col>
          <ion-col size="2" text-left class="pr-none">
            <div>{{ index === 0 ? 'Hunter' : 'Rogue' }}</div>
          </ion-col>
          <ion-col no-padding>
            <ion-row>
              <ion-col size="8" text-right>
                <div>{{ bh.rank | numberFormat | notFound }}</div>
              </ion-col>
              <ion-col size="4" text-right class="pl-none">
                <div>{{ bh.amount | notFound }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="1">
            <img class="icon compare" [src]="compareIcon(bh.amount, compareHiscore.bountyhunter[index].amount)" />
          </ion-col>
          <ion-col no-padding>
            <ion-row>
              <ion-col size="4" text-left class="pr-none">
                <div>{{ compareHiscore.bountyhunter[index].amount | notFound }}</div>
              </ion-col>
              <ion-col size="8" text-right>
                <div>{{ compareHiscore.bountyhunter[index].rank | numberFormat | notFound }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-item color="primary" lines="full">
        <ion-row align-items-center>
          <ion-col size="1" class="pl-xs" no-padding>
            <img class="icon" [src]="'./assets/imgs/hiscore/last-man-standing.gif'" />
          </ion-col>
          <ion-col size="2" text-left class="pr-none">
            <div>LMS</div>
          </ion-col>
          <ion-col no-padding>
            <ion-row>
              <ion-col size="8" text-right>
                <div>{{ playerHiscore.lms.rank | numberFormat | notFound }}</div>
              </ion-col>
              <ion-col size="4" text-right class="pl-none">
                <div>{{ playerHiscore.lms.score | notFound }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="1">
            <img class="icon compare" [src]="compareIcon(playerHiscore.lms.score, compareHiscore.lms.score)" />
          </ion-col>
          <ion-col no-padding>
            <ion-row>
              <ion-col size="4" text-left class="pr-none">
                <div>{{ compareHiscore.lms.score | notFound }}</div>
              </ion-col>
              <ion-col size="8" text-right>
                <div>{{ compareHiscore.lms.rank | numberFormat | notFound }}</div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
