# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
node_modules/
tmp/
temp/
plugins/**/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# secret
keystores/
platforms/

# plugins

# removed permission from file plugin
!plugins/cordova-plugin-file/
plugins/cordova-plugin-file/*.md
plugins/cordova-plugin-file/*.json
plugins/cordova-plugin-file/LICENSE
plugins/cordova-plugin-file/NOTICE
