<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>OSRS Wiki</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Search</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="ion-no-padding" color="secondary">
        <ion-input
          placeholder="Enter search term"
          (keyup.enter)="searchWiki(search.value)"
          clearInput
          #search
        ></ion-input>
      </ion-item>
      <ion-button
        class="ion-no-margin"
        (click)="searchWiki(search.value)"
        type="submit"
        expand="full"
        color="secondary"
      >
        <ion-icon slot="start" name="search"></ion-icon>
        Search
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="search-results" *ngIf="searchResults.length > 0">
    <ion-card-content>
      <ion-list lines="full">
        <ion-list-header class="ion-no-margin" color="secondary">
          <ion-label>Results</ion-label>
        </ion-list-header>
        <ion-item
          button
          color="primary"
          (click)="openInBrowser(result.url)"
          [detail]="true"
          *ngFor="let result of searchResults"
        >
          {{ result.keyword }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
