<ion-card>
  <ion-card-content>
    <div *ngIf="loading" class="loading-spinner" text-center>
      <ion-spinner></ion-spinner>
      <p>Getting graph...</p>
    </div>
    <div *ngIf="!loading">
      <ion-row no-padding>
        <ion-col>
          <ion-button (click)="updateData(180)" expand="full" color="secondary" size="small" [fill]="period !== 180 ? 'outline' : 'solid'">
            180 days
          </ion-button>
          <p class="trend" [ngClass]="item.day180.trend" text-center>
            {{ item.day180.change }}
          </p>
        </ion-col>
        <ion-col>
          <ion-button (click)="updateData(90)" expand="full" color="secondary" size="small" [fill]="period !== 90 ? 'outline' : 'solid'">
            90 days
          </ion-button>
          <p class="trend" [ngClass]="item.day90.trend" text-center>
            {{ item.day90.change }}
          </p>
        </ion-col>
        <ion-col>
          <ion-button (click)="updateData(30)" expand="full" color="secondary" size="small" [fill]="period !== 30 ? 'outline' : 'solid'">
            30 days
          </ion-button>
          <p class="trend" [ngClass]="item.day30.trend" text-center>
            {{ item.day30.change }}
          </p>
        </ion-col>
      </ion-row>
    </div>
    <canvas #priceTrendCanvas [style.display]="loading ? 'none' : 'block'"></canvas>
  </ion-card-content>
</ion-card>
