<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="AppRoute.GrandExchange"></ion-back-button>
    </ion-buttons>
    <ion-title>Item details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openWiki()">WIKI</ion-button>
      <ion-button shape="round" icon-only (click)="toggleFavorite()">
        <ion-icon slot="icon-only" [name]="isFavorite ? 'star' : 'star-outline'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content class="pr-sm">
      <ion-grid no-padding>
        <ion-row>
          <ion-col size="9" class="br pr" no-padding text-center>
            <h1 no-margin>{{ item.name }}</h1>
            <img class="item-icon" [src]="item.icon" />
            <h2>Description:</h2>
            <p>{{ item.description }}</p>
          </ion-col>
          <ion-col size="3" no-padding align-items-stretch>
            <ion-row align-items-center text-center class="h-50">
              <ion-col>
                <h2>Price</h2>
                <p class="coins number"><img src="./assets/imgs/coins.png" /> {{ item.current }}</p>
              </ion-col>
            </ion-row>
            <ion-row align-items-center text-center class="h-50 bt">
              <ion-col>
                <h2>Today</h2>
                <p class="number" [ngClass]="item.trendClass">
                  {{ item.today }}
                </p>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
      <p id="id">
        <small>ID: {{ item.id }}</small>
      </p>
    </ion-card-content>
  </ion-card>

  <price-trend [id]="item.id"></price-trend>
</ion-content>
