<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Grand Exchange</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher *nativeOnly slot="fixed" pullMin="70" pullMax="250" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <web-view>
    <search-item [cachedItems]="cachedItems"></search-item>
  </web-view>
</ion-content>
