<ion-card>
  <ion-card-header>
    <ion-card-title>Find player</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item class="ion-no-padding" color="secondary">
      <ion-input
        type="text"
        placeholder="Enter player name"
        #search
        clearInput
        (keyup.enter)="searchXp(search.value)"
      ></ion-input>
    </ion-item>
    <ion-button class="ion-no-margin" color="secondary" expand="full" (click)="searchXp(search.value)">
      <ion-icon slot="start" name="search"></ion-icon>
      Search
    </ion-button>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="favoriteXp?.length > 0" [@favoriteShrink]>
  <ion-list lines="full" #favoriteList>
    <ion-list-header class="ion-no-margin" color="secondary">
      <ion-label>Favorites</ion-label>
    </ion-list-header>
    <xp-favorite
      [@favoriteShrink]
      *ngFor="let player of favoriteXp; trackBy: trackByUsername"
      (delete)="updateFavorites(favoriteList)"
      [player]="player"
      (notFound)="removeFavorite(player)"
    ></xp-favorite>
  </ion-list>
</ion-card>

<ion-card *ngIf="recentXp?.length > 0" [@favoriteShrink]>
  <ion-list lines="full" #recentList>
    <ion-list-header class="ion-no-margin" color="secondary">
      <ion-label>Recent</ion-label>
    </ion-list-header>
    <xp-favorite
      [@favoriteShrink]
      *ngFor="let player of recentXp; trackBy: trackByUsername"
      (delete)="updateRecent(recentList)"
      [player]="player"
      (notFound)="removeRecent(player)"
    ></xp-favorite>
  </ion-list>
</ion-card>
