<ion-card>
  <ion-card-header>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-no-padding">
        <ion-card-title>Find item</ion-card-title>
      </ion-col>
      <ion-col size="auto" class="ion-no-padding">
        <ion-row class="compare ion-align-items-center">
          compare
          <ion-toggle color="secondary" [(ngModel)]="compare"></ion-toggle>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-item class="ion-no-padding" color="secondary">
      <ion-input
        [(ngModel)]="itemName"
        placeholder="Enter item name"
        (keyup.enter)="compare ? compareItem() : searchItem()"
        clearInput
      ></ion-input>
    </ion-item>
    <ion-item class="ion-no-padding" color="secondary" *ngIf="compare">
      <ion-input
        [(ngModel)]="compareItemName"
        placeholder="Enter compare item name"
        (keyup.enter)="compare ? compareItem() : searchItem()"
        clearInput
      ></ion-input>
    </ion-item>
    <ion-button
      class="ion-no-margin"
      (click)="compare ? compareItem() : searchItem()"
      type="submit"
      expand="full"
      color="secondary"
    >
      <ion-icon slot="start" [name]="compare ? 'swap' : 'search'"></ion-icon>
      {{ compare ? 'Compare' : 'Search' }}
    </ion-button>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="favoriteItems?.length > 0" [@favoriteShrink]>
  <ion-list lines="full">
    <ion-list-header class="ion-no-margin" color="secondary">
      <ion-label>Favorites</ion-label>
    </ion-list-header>
    <item-result
      [@favoriteShrink]
      *ngFor="let item of favoriteItems; trackBy: trackByItemId"
      [slide]="true"
      [itemId]="item"
      (delete)="updateFavorites()"
    ></item-result>
  </ion-list>
</ion-card>

<ion-card *ngIf="recentItems?.length > 0" [@favoriteShrink]>
  <ion-list lines="full">
    <ion-list-header class="ion-no-margin" color="secondary">
      <ion-label>Recent</ion-label>
    </ion-list-header>
    <item-result
      [@favoriteShrink]
      *ngFor="let item of recentItems; trackBy: trackByItemId"
      [slide]="true"
      [itemId]="item"
      (delete)="updateRecent()"
    ></item-result>
  </ion-list>
</ion-card>
