:root {
  --ion-background-color: var(--ion-color-dark);
  --ion-text-color: var(--ion-color-light);
  --ion-toolbar-background: var(--ion-color-dark-shade);

  ion-alert {
    --ion-background-color: var(--ion-color-light);
    --ion-color-primary: var(--ion-color-secondary) !important;
    .alert-title,
    .alert-sub-title {
      color: var(--ion-color-dark);
    }
    .alert-message {
      color: var(--ion-color-dark-tint);
    }
    .alert-button {
      color: var(--ion-color-secondary);
    }
  }
  ion-loading ion-spinner {
    --spinner-color: var(--ion-color-secondary);
  }
  ion-card {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-dark);
    ion-card-header {
      ion-card-subtitle {
        --color: var(--ion-color-secondary);
        opacity: 0.75;
      }
    }
    ion-card-content h1 {
      margin-bottom: var(--ion-margin, 16px);
    }
  }
  ion-item {
    --highlight-height: 0;
  }
  ion-menu {
    .menu-item,
    .menu-item ion-icon {
      color: rgba(255, 255, 255, 0.8);
      &.active,
      &.active ion-icon {
        color: saturate(lighten(/** --ion-color-primary */ #c6b17a, 10%), 20%);
      }
    }
    .menu-item ion-icon {
      margin-right: 16px;
    }
    ion-item {
      --background-activated: var(--ion-color-primary);
      --background-hover: var(--ion-color-primary);
    }
  }
  ion-button {
    // prevents active/focus effect of buttons.
    --ion-color-base-rgb: transparent !important;
  }
  ion-toggle {
    --background: var(--ion-color-light-shade);
    --handle-background: var(--ion-color-light);
    --ion-color-base-rgb: 80, 80, 80 !important;
    padding-top: 5px;
    padding-right: 0;
    padding-bottom: 5px;
  }

  ion-split-pane.split-pane-visible > ion-menu {
    max-width: 300px !important;
  }

  ion-refresher {
    height: 70px;
    padding-top: 10px;
  }

  ion-list {
    padding: 0 !important;
  }

  .alert-checkbox-group,
  .alert-radio-group {
    max-height: 360px !important;
  }

  ion-card {
    ion-card-header {
      &[small] {
        ion-card-title {
          font-size: 16px;
        }
        ion-card-subtitle {
          font-size: 12px;
        }
      }
    }
    ion-card-content + ion-card-content {
      padding-top: 0 !important;
    }
  }

  ion-item[item-result] {
    --detail-icon-color: var(--ion-color-dark);
    --ion-color-primary-contrast: var(--ion-color-dark);
    ion-thumbnail {
      height: 48px;
      width: 48px;
      margin-right: 12px;
    }
    * {
      font-weight: 500;
    }
    .details {
      margin: 0 8px;
      min-width: 48px;
    }
  }
  .text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .positive {
    color: #00ff00;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  }
  .negative {
    color: #ff0000;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4);
  }
}
