<nerd-statistics *ngIf="!production"></nerd-statistics>

<ion-app>
  <ion-split-pane contentId="main-outlet">
    <ion-menu side="start" contentId="main-outlet">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ng-template ngFor [ngForOf]="pages" [ngForTrackBy]="trackByPageId" let-page>
              <ion-item
                button
                class="menu-item"
                [class.active]="page.active"
                *ngIf="page.visible"
                (click)="linkClicked(page)"
              >
                <ion-icon slot="start" [name]="page.icon"></ion-icon>
                {{ page.title }}
                <ion-badge class="ion-margin-start" color="light">{{ page.options.badge }}</ion-badge>
              </ion-item>
            </ng-template>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet id="main-outlet"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
