<nerd-statistics *ngIf="!production"></nerd-statistics>

<ion-app>
  <ion-split-pane>
    <ion-menu side="start">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              button
              class="menu-item"
              [class.active]="page.active"
              *ngFor="let page of pages; trackBy: trackByPageId"
              (click)="linkClicked(page)"
            >
              <ion-icon slot="start" [name]="page.icon"></ion-icon>
              {{ page.title }}
              <ion-badge margin-start color="light">{{ page.badge }}</ion-badge>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>

    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
