<ion-card>
  <ion-card-content>
    <div *ngIf="loading" class="loading-spinner" text-center>
      <ion-spinner></ion-spinner>
      <p>Getting graph...</p>
    </div>
    <div *ngIf="!loading">
      <ion-row no-padding>
        <ion-col>
          <ion-button
            (click)="updateData(180)"
            expand="full"
            color="secondary"
            size="small"
            [fill]="period !== 180 ? 'outline' : 'solid'"
          >
            180 days
          </ion-button>
          <div *ngFor="let item of items" class="trend" [ngClass]="item.day180.trend" text-center>
            <br *ngIf="items.length > 1" />
            <div>{{ item.day180.change }}</div>
          </div>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="updateData(90)"
            expand="full"
            color="secondary"
            size="small"
            [fill]="period !== 90 ? 'outline' : 'solid'"
          >
            90 days
          </ion-button>
          <div *ngFor="let item of items" class="trend" text-center>
            <div class="item-name" *ngIf="items.length > 1">{{ item.name }}</div>
            <div [ngClass]="item.day90.trend">{{ item.day90.change }}</div>
          </div>
        </ion-col>
        <ion-col>
          <ion-button
            (click)="updateData(30)"
            expand="full"
            color="secondary"
            size="small"
            [fill]="period !== 30 ? 'outline' : 'solid'"
          >
            30 days
          </ion-button>
          <div *ngFor="let item of items" class="trend" [ngClass]="item.day30.trend" text-center>
            <br *ngIf="items.length > 1" />
            <div>{{ item.day30.change }}</div>
          </div>
        </ion-col>
      </ion-row>
    </div>
    <canvas #priceTrendCanvas [style.display]="loading ? 'none' : 'block'"></canvas>
  </ion-card-content>
</ion-card>
