<ion-item-sliding>
  <ion-item item-result [button]="true" [detail]="true" color="primary" (click)="goToHiscore()">
    <ion-label class="description">
      <h2 text-capitalize>{{ player }}</h2>
    </ion-label>
    <ion-row slot="end" class="details" align-items-center justify-content-end>
      <ng-template [ngIf]="loading" [ngIfElse]="doneLoading">
        <ion-spinner color="dark"></ion-spinner>
      </ng-template>
      <ng-template #doneLoading>
        <ion-col size="auto">
          <ion-row align-items-center>
            <img *ngIf="hiscore?.player.dead" src="./assets/imgs/player_types/dead.png" />
            <img *ngIf="hiscore?.player.playerType !== 'normal'" [src]="icon" />
          </ion-row>
        </ion-col>
        <ion-col size="auto">
          <ion-row align-items-center justify-content-end>
            <span class="level">{{ combatLevel }}</span>
            <img src="./assets/imgs/combat.gif" />
          </ion-row>
          <ion-row align-items-center>
            <span class="level">{{ hiscore.skills[0].level }}</span>
            <img src="./assets/imgs/skills/1.gif" />
          </ion-row>
        </ion-col>
      </ng-template>
    </ion-row>
  </ion-item>

  <ion-item-options (ionSwipe)="deleteItem()">
    <ion-item-option slot="icon-only" (click)="deleteItem()" expandable color="danger">
      <ion-icon name="trash" size="large" padding-start padding-end></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
