<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="ion-no-margin">
    <ion-list-header class="ion-no-margin">
      <strong>XP TRACKER</strong>
    </ion-list-header>
    <ion-item>
      <ion-label>Preferred view</ion-label>
      <ion-select [(ngModel)]="settings.preferredXpTrackerView" (ionChange)="updateSettings()">
        <ion-select-option [value]="XpTrackerView.AdventureLog">{{ XpTrackerView.AdventureLog }}</ion-select-option>
        <ion-select-option [value]="XpTrackerView.DataTable">{{ XpTrackerView.DataTable }}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
</ion-content>
