<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Support OSRS Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <patreon-button></patreon-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Why support OSRS Tracker?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      OSRS Tracker is, and always will be, a free application without advertisements. Unfortunately, it's not free to
      keep the OSRS Tracker servers up and running.
    </ion-card-content>
    <ion-card-content>
      In order to keep the app free for everyone while still keeping the servers up and running, or maybe because you
      think OSRS Tracker is an awesome app, you can support it through Patreon.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>What will your money be used for?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      The first goal is getting around €30/month &#40;€400/year&#41;. This is purely to keep the current servers up and
      running. Currently I'm funding this from my own pocket.
    </ion-card-content>
    <ion-card-content>
      The second goal is getting around €70/month &#40;€850/year&#41;. This allows me to upgrade the infrastructure,
      gaining more performance and redundancy.
    </ion-card-content>
    <ion-card-content>
      Everything over that amount will go to me. I would be able to spend more time on developing and maintaining OSRS
      Tracker.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Why Patreon?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Google Play only allows donations when you are a non-profit organisation. I'm just a single person, so I don't
      qualify for this.
    </ion-card-content>
    <ion-card-content>
      If you just want to donate instead of using a subsciption model, you can unsubscribe after the first month. This
      is not an ideal solution, but it works.
    </ion-card-content>
  </ion-card>

  <patreon-button></patreon-button>
</ion-content>
