<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>OSRS Tracker</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" pullMin="70" pullMax="250" pullFactor="0.5" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..."></ion-refresher-content>
  </ion-refresher>

  <quick-nav></quick-nav>

  <osrs-news [cachedNewsItems]="cachedNewsItems"></osrs-news>
</ion-content>
