<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>XP Tracker</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openHelp()">
        <ion-icon slot="icon-only" name="help-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher pullMin="70" pullMax="300" (ionRefresh)="doRefresh()">
    <ion-refresher-content pullingText="Pull to refresh" refreshingText="Refreshing..." refreshingSpinner="crescent"></ion-refresher-content>
  </ion-refresher>

  <search-xp></search-xp>
</ion-content>
