ion-card-content:last-of-type {
  padding-bottom: 8px;
}
.img-container {
  text-align: center;
}
img {
  display: inline-block;
  height: 115px;
  width: auto;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
}
ion-button {
  margin: 0;
}
