<h6 class="ion-margin-start">
  OSRS News
</h6>

<div *ngIf="newsItems.length === 0" text-center>
  <ion-spinner></ion-spinner>
  <p>Loading news...</p>
</div>

<ion-card *ngFor="let item of newsItems; trackBy: trackByNewsItemDate">
  <ion-card-header small>
    <ion-card-subtitle>{{ item.pubDate | date }} | {{ (item?.categories)[0] }}</ion-card-subtitle>
    <ion-card-title>{{ item.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="img-container">
    <img (click)="openInBrowser(item.link)" [src]="item.enclosure.link" />
  </ion-card-content>
  <ion-card-content>
    <p>{{ item.description }}</p>
  </ion-card-content>
  <ion-col class="ion-no-padding">
    <ion-button color="secondary" fill="clear" (click)="openInBrowser(item.link)">
      READ MORE
    </ion-button>
  </ion-col>
</ion-card>
